<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Please login with ADMIN credentials</title>
</head>
<body>

<h1>LOGIN:</h1>

<form action="#" th:action="@{/admin}" method="POST">
    <p><label for="user">Username</label>: <input type="text" name="user" id="user"/></p>
    <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<div th:if="${error != null}">
    <h5 style="color:red">WRONG USERNAME OR PASSWORD</h5>
</div>
</body>
</html>

