<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administration</title>
</head>
<body>

<h1>Admin information</h1>

Change admin password:

<form action="#" th:action="@{/adminpwd}" method="POST">
    <p><label for="password">New password</label>: <input type="password" name="password" id="password"/></p>
    <p><input type="submit" value="Change!" /></p>
</form>
<div th:if="${pwd != null}">
    <h5 style="color: green">Password changed!</h5>
</div>

<h5>Registered attendees:</h5>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Address </th>
    </tr>
    </thead>
    <tbody>
    <span th:text="${signups != null} ? '' : 'No registrations available'">No info</span>
    <tr th:each="signup : ${signups}">
        <td><span th:text="${signup.name}"> Name </span></td>
        <td><span th:text="${signup.address}"> Address </span></td>
    </tr>
    </tbody>
</table>
<h5>User messages:</h5>
<div th:if="${messages != null}">
    <ul>
        <li th:each="item : ${messages}" th:utext="${item}"></li>
    </ul>
</div>
</body>
</html>